@page "{id}"
@model todolist.Pages.Projects.ShowModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpCtx
@{
    ViewData["Title"] = @Model.Project.Name;
    string modalId = "new-todo-for-project-modal";
    string returnUrl = HttpCtx.HttpContext!.Request.Path + HttpCtx.HttpContext.Request.QueryString;
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-1">
    <li class="breadcrumb-item">
      <a asp-page="/Projects/Index">Projects</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <span class="">@Model.Project.Name</span>
    </li>
  </ol>
</nav>

<div class="d-flex flex-wrap gap-3 align-items-center justify-content-between">
    <div class="d-flex align-items-end gap-3 flex-wrap">
        <h1 class="m-0 d-inline fs-2">
            @Model.Project.Name
        </h1>

        <a class="btn btn-sm btn-outline-secondary"
            asp-page="/Projects/Edit"
            asp-route-id="@Model.Project.Id"
            title="Edit this project">
            <i class="bi bi-pencil"></i>
        </a>

        <button class="btn btn-sm btn-outline-secondary" type="javascript"
            data-bs-toggle="modal"
            data-bs-target="#@modalId">
            <i class="bi bi-plus"></i> todo
        </button>
    </div>

    <div class="d-flex align-items-center">

        <form method="post" asp-page="/Projects/Delete" asp-route-id="@Model.Project.Id" style="display:inline"> 
            <button class="btn btn-sm btn-outline-danger" type="submit" title="Delete project"
                onclick="return confirm('Delete this project?')">
                <i class="bi bi-trash"></i>
            </button>
        </form>
    </div>
</div>

<div class="my-2">
    <h2 class="fs-6 d-inline">Statement of purpose:</h2>
    <p class="d-inline">
        @Model.Project.PurposeStatement
    </p>
</div>

<div class="d-flex flex-wrap column-gap-3 row-gap-3 my-2">
    @foreach(Todo todo in @Model.Project.Todos)
    {
        @await Html.PartialAsync("/Pages/Todos/_Card.cshtml", todo)
    }
</div>

@await Html.PartialAsync(
    "~/Pages/Todos/_NewModal.cshtml",
    (modalId: modalId, returnUrl: returnUrl, Todo: Model.NewTodo)
)
