@model Models.Todo
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpCtx
@{
    string returnUrl = HttpCtx.HttpContext!.Request.Path + HttpCtx.HttpContext.Request.QueryString;
    string editFormId = $"edit-form-{Model.Id}";
}

<div class="card rounded-0 border text-start" style="min-width: 8rem; max-width: 16rem;">
    <div class="card-body p-0 m-0">
        <div class="card-text">
            <a href="#" data-bs-toggle="modal" data-bs-target="#editModal-@Model.Id"
                class="btn btn-sm btn-outline-secondary float-end mt-1 me-1">
                <i class="bi bi-pencil"></i>
            </a>
            <div class="px-2 pb-2">
                @await Html.PartialAsync("/Pages/Todos/_Details.cshtml", Model)
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-start" id="editModal-@Model.Id" tabindex="-1" aria-labelledby="editModalLabel-@Model.Id"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel-@Model.Id">Edit Todo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="@editFormId" method="post" asp-page="/Todos/Edit" asp-route-id="@Model.Id" asp-route-returnUrl="@returnUrl">
                    <input value="@returnUrl" type="hidden" name="returnUrl" />
                    @await Html.PartialAsync("~/Pages/Todos/_Form.cshtml", Model)
                </form>

                <div class="d-flex justify-content-around align-items-center">
                    <button form="@editFormId" type="submit"
                            class="btn btn-outline-primary">
                            Update
                    </button>

                    <form method="post"
                        asp-page="/Todos/Delete"
                        asp-route-id="@Model.Id"
                        class="d-inline">
                        <input value="@returnUrl" type="hidden" name="returnUrl" />
                        <button type="submit"
                                class="btn btn-outline-danger"
                                title="Delete this item">
                            <i class="bi bi-trash"></i> Delete
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
