@model Models.Todo
@{
    RouteData route = ViewContext.RouteData;
    string? currentPage = route.Values["page"]?.ToString();
    string? currentId = route.Values["id"]?.ToString();

    bool isCurrentProjectPage = currentPage == "/Projects/Show" && currentId == Model.Project?.Id.ToString();
    bool isCurrentGoalPage = currentPage == "/Goals/Show" && currentId == Model.Goal?.Id.ToString();

    bool showProjectLink = Model.Project != null && !isCurrentProjectPage;
    bool showGoalLink = Model.Goal != null && !isCurrentGoalPage;
}

<p class="mb-1">
    @Model.Description 
</p>

@if (showProjectLink)
{
    <p class="my-1">
        <a class="text-secondary" asp-page="/Projects/Show" asp-route-id="@Model.ProjectId">
            <i>@Model.Project!.Name</i>
        </a>
    </p>
}

@if (showGoalLink)
{
    <p class="my-1">
        <a class="text-secondary" asp-page="/Goals/Show" asp-route-id="@Model.GoalId">
            <i>@Model.Goal!.Name</i>
        </a>
    </p>
}

@if(Model.OnDate != null)
{
    <p class="mb-1">@Model.OnDate</p>
}

<p class="mb-2">
@if(Model.StartTime != null)
{
    <span class="">@Model.StartTime</span>
}
@if(Model.StartTime != null || Model.EndTime != null)
{
    <span> - </span>
}
@if(Model.EndTime != null || Model.EndTime != null)
{
    <span class="">@Model.EndTime</span>
}
</p>