@model Models.Todo

<p class="mb-1">@Model.Description</p>

@if(Model.AtTime != null && Model.OnDate != null)
{
    <p>@Model.AtTime on @Model.OnDate</p>
}
else if(Model.OnDate != null)
{
    <p>On @Model.OnDate</p>
}
else if(Model.AtTime != null)
{
    <p>At @Model.AtTime</p>
}

@if(Model.Completed)
{
    <strong class="text-success">Complete ✅</strong>
}
else
{
    <strong class="text-danger">Not complete ❌</strong>
}