@model Models.Todo

<p class="mb-1">
    @Model.Description 
</p>

@if(Model.Project != null)
{
    RouteData route = ViewContext.RouteData;
    string? currentPage = route.Values["page"]?.ToString();
    string? currentId = route.Values["id"]?.ToString();

    bool isCurrentProjectPage = currentPage == "/Projects/Show" && currentId == Model.Project.Id.ToString();

    <p class="my-1">
        @if (!isCurrentProjectPage)
        {
            <a class="text-secondary" asp-page="/Projects/Show" asp-route-id="@Model.Project.Id">
                <i>@Model.Project.Name</i>
            </a>
        }
        else
        {
            <i>@Model.Project.Name</i>
        }
    </p>
}

@if(Model.OnDate != null)
{
    <p class="mb-1">@Model.OnDate</p>
}

@if(Model.StartTime != null)
{
    <p class="mb-1">@Model.StartTime</p>
}
