@page "{id}"
@model todolist.Pages.Goals.ShowModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpCtx
@{
    ViewData["Title"] = @Model.Goal.Name;
    string modalId = "new-todo-for-goal-modal";
    string returnUrl = HttpCtx.HttpContext!.Request.Path
                + HttpCtx.HttpContext.Request.QueryString;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-1">
        <li class="breadcrumb-item">
            <a asp-page="/Goals/Index">Goals</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <span class="">@Model.Goal.Name</span>
        </li>
    </ol>
</nav>

<div class="d-flex flex-wrap column-gap-3 row-gap-3 align-items-center mb-4">
    <h1 class="m-0 d-inline fs-2">
        @Model.Goal.Name
    </h1>

    <a class="btn btn-sm btn-outline-secondary" asp-page="/Goals/Edit" asp-route-id="@Model.Goal.Id"
        title="Edit this goal">
        <i class="bi bi-pencil"></i>
    </a>

    <a asp-page="/Goals/ProgressNotes/New" asp-route-goalId="@Model.Goal.Id"
             class="btn btn-sm btn-outline-secondary">
        <i class="bi bi-plus-lg"></i> progress note
    </a>

    <button class="btn btn-sm btn-outline-secondary" type="javascript"
        data-bs-toggle="modal"
        data-bs-target="#@modalId">
        <i class="bi bi-plus"></i> todo
    </button>
</div>

<div class="d-flex flex-wrap-reverse gap-3 mb-4">
    <div class="flex-grow-1">
    @foreach (ProgressNote note in Model.Goal.ProgressNotes)
    {
        <div class="mb-4">
        <partial name="ProgressNotes/_Card"
                    model="new todolist.Pages.Goals.ProgressNotes.CardModel {
                    GoalId = Model.Goal.Id,
                    Note   = note
                    }" />
        </div>
    }
    </div>

    <div style="min-width: 300px; max-width: 400px;">
        @foreach(Todo todo in @Model.Goal.Todos)
        {
            <div class="mb-4">
            @await Html.PartialAsync("/Pages/Todos/_Card.cshtml", todo)
            </div>
        }
    </div>
</div>

<form method="post" asp-page="/Todos/New">
    <div class="modal fade" id="@modalId" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Todo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input value="@returnUrl" type="hidden" name="returnUrl" />
                    @await Html.PartialAsync("/Pages/Todos/_Form.cshtml", @Model.NewTodo)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>