@model todolist.Models.ChecklistTask
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpCtx
@{
    string returnUrl = HttpCtx.HttpContext!.Request.Path + HttpCtx.HttpContext.Request.QueryString;
    string borderColor = "border-black";
    string bgColor = (Model.Complete == true) ? "bg-success" : "bg-warning";

    string toggleCompleteId = $"toggle-complete-task-${Model.Id}";
    string deleteId = $"delete-task-${Model.Id}";
}

<li class="@bgColor @borderColor
    text-dark fw-medium list-group-item d-flex column-gap-3 justify-content-between p-0 rounded-0"
    draggable="true" data-id="@Model.Id" data-index="@Model.Order"
    ondragstart="handleDragStart(event)"
    ondragover="handleDragOver(event)"
    ondrop="handleDrop(event)">

    <div class="bg-dark d-flex align-items-center">
        <button form="@deleteId" type="submit" class="btn btn-sm btn-outline-danger rounded-0 border-0"
            title="Delete task">
            <i class="bi bi-trash"></i>
        </button>
    </div>

    <span class="">@Model.Description</span>

    <div class="d-flex align-items-center column-gap-1 bg-dark">

        <button form="@toggleCompleteId" 
            class="btn btn-sm btn-outline-secondary rounded-0 border-0"
            type="submit"
            title='@(Model.Complete ? "Uncomplete task" : "Complete task")'
            type="javascript">
                <i class='@(Model.Complete ? "bi bi-arrow-counterclockwise" : "bi bi-check-lg")'></i>
        </button>

        <a asp-page="/Checklists/ChecklistTasks/Edit" asp-route-checklistId="@Model.ChecklistId"
                asp-route-taskId="@Model.Id"
                class="btn btn-sm btn-outline-secondary rounded-0 border-0"
                title="Edit checklist task">
            <i class="bi bi-pencil"></i>
        </a>

        
    </div>
</li>

<form id="@deleteId" method="post" asp-page="/Checklists/ChecklistTasks/Delete" asp-route-id="@Model.Id" class="d-inline">
        <input value="@returnUrl" type="hidden" name="returnUrl" />
</form>

<form id="@toggleCompleteId" method="post" asp-page="/Checklists/ChecklistTasks/Edit"
    asp-page-handler="ToggleComplete"
    asp-route-checklistId="@Model.ChecklistId" asp-route-taskId="@Model.Id" class="d-inline">
    <input value="@returnUrl" type="hidden" name="returnUrl" />
</form>
